
<h1>Login</h1>
<form action="/login" method="post">
<div class="form-group">
    <label class="col-form-label mt-2" for="user">Username</label>
    <input type="text" name="user">
</div>
<div class="form-group">
    <label class="col-form-label mt-2" for="password">Password</label>
    <input type="text" name="password">
</div>
<div class="form-group mt-2">
    <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
</div>
    
</form>